<section id="movement">
  <h1>Find Your Movement</h1>
  <h3>By body part:</h3>
  <table>
    <tr>
      <th>Head</th>
      <td>Neck</td>
      <td>Nose</td>
      <td>Ears</td>
      <td>Mouth</td>
      <td>Eyes</td>
      <td>Chin</td>
      <td>Forehead</td>
      <td>Face</td>
      <td>
    </tr>
    <tr>
      <th>Upper Body</th>
      <td>Shoulders</td>
      <td>Chest</td>
      <td>Upper Back</td>
      <td>Upper Arm</td>
      <td>Forearm</td>
      <td>Hands</td>
    </tr>
    <tr>
      <th>Core</th>
      <td>Abdominals</td>
      <td>Lower Back</td>
      <td>Obliques</td>
      <td>Transverse</td>
    </tr>
    <tr>
      <th>Lower Body</th>
      <td>Hips</td>
      <td>Upper Leg</td>
      <td>Lower Leg</td>
      <td>Feet</td>
    </tr>
  </table>

  <h3>or, by style of movement:</h3>
  <ul>
    <li>Total Body</li>
    <li>Strength</li>
    <li>Endurence</li>
    <li>Power/Plyo</li>
    <li>Body Weight</li>
    <li>Climbing</li>
    <li>Swimming</li>
    <li>Gracefulness</li>
    <li>Mediation</li>
    <li>Mobility</li>
    <li>Balance</li>
    <li>Iron Body</li>
    <li>Tumbling</li>
  </ul>
</section>
