<h1>Add to <%= @movement.name %></h1>

<% if @fail %>
  <p style="color:red;">*<%= @fail %></p>
<% end %>

<form action="/movements/<%= @movement.slug_movement %>" method="POST">
  <label>Exercise</label>
  <input type="text" name="desc">

  <br></br>

  <input type="submit" value="Add"><br>
  <a href="/movements/<%= @movement.slug_movement %>">Back</a>
</form>
