<h1><%= @movement.name %></h1>

<section class="movement-show">
  <ul>
  <% @movement.exercises.each do |exercise| %>
    <li><%= exercise.desc %></li>
  <% end %>
  </ul>

  <br></br>

  <a href="/movements/new">Add</a><br>
  <a href="/movmenets/<%= @movement.name %>">Edit</a><br>
  <a href="/movements">Back</a>
</section>
