<h1><%= @movement.name %></h1>

<section class="movement-show">
  <form action="/movements/:name" method="POST">
  <% @movement.exercises.each do |exercise| %>
    <input type="checkbox" name="exercises[]" value="<%= exercise.id %>"><%= exercise.desc %></input>
  <% end %>

  <br></br>

  <input type="submit" value="save">
  </form>
  <a href="/movements">Back</a>
</section>
