<h1>Tell us about youself <%= @user.username %>!</h1>

<form action="/about_me" method="POST">
  <label>Are you a fitness professional?</label>

  <br></br>

  <input type="checkbox" name="professional">Yes</input>
  <input type="checkbox" name="professional">No</input>

  <br></br>

  <label>Where do you live?</label>
  <input type="text" name="residence">

  <br></br>

  <label>What is your area of interest or expertise?</label>

  <br></br>

  <% FitnessModality.all.each do |modality| %>
    <input type="checkbox" name="modalities[]" value="<%= modality.id %>"><%= modality.name %></input>
  <% end %>

  <br></br>

  <label>or tell us your specialty! (Please don't add fitness movements, try to be specific)</label>
  <input type="text" name="specialty">

  <br></br>

  <input type="submit" value="Submit">
</form>
