<h1>Tell us about youself <%= @user.username %>!</h1>

<form action="/about_me" method="POST">
  <label>What's your place in fitness?</label>

  <br></br>

  <input type="checkbox" name="fitness-hobby">Hobby</input>
  <input type="checkbox" name="fitness-professional">Professional</input>

  <br></br>

  <label>Where do you live?</label>
  <input type="text" name="residence">

  <br></br>

  <label>What is your area of interest or expertise?</label>

  <br></br>

  <input type="checkbox" name="specialty_gymnastics">Gymnastics</input>
  <input type="checkbox" name="specialty_martial_arts">Martial Arts</input>
  <input type="checkbox" name="specialty_yoga">Yoga</input>
  <input type="checkbox" name="specialty_basketball">Basketball</input>
  <input type="checkbox" name="specialty_animal_movements">Animal Movements</input>

  <br></br>

  <label>or tell us your specialty! (Please don't add fitness movements, try to be specific)</label>
  <input type="text" name="specialty">

  <br></br>

  <input type="submit" value="Submit">
</form>
