<h1>Tell us about youself <%= @user.username %>!</h1>

<form action="/about_me" method="POST">
  <label>Are you a fitness professional?</label>

  <br></br>

  <input type="radio" name="professional" value="true">Yes</input>
  <input type="radio" name="professional" value="false">No</input>

  <br></br>

  <label>Where do you live?</label>
  <input type="text" name="residence">

  <br></br>

  <label>What is your fitness level? (N = Novice, I = Intermediate, A = Advanced, E = Expert)</label>
  <input type="text" name="fitness_level">

  <br></br>

  <label>What is your area of interest or expertise? (Select no more than three)</label>

  <br></br>

  <% FitnessModality.all.each do |modality| %>
    <input type="checkbox" name="modalities[]" value="<%= modality.id %>"><%= modality.name %></input>
  <% end %>

  <br></br>

  <label>or tell us your specialty! (Please don't add fitness movements, try to be specific)</label>
  <input type="text" name="modality_name">

  <br></br>

  <input type="submit" value="Submit">
</form>
