<h1>Upcoming Events</h1>


<h2>Title - 1</h2>
<h3>Location</h3>
<h3>Date</h3>
<p>description</p>
<h4>price</h4>
<input type="submit" value="Register">

<br></br>

<h2>Title - 1</h2>
<h3>Location</h3>
<h3>Date</h3>
<p>description</p>
<h4>price</h4>
<input type="submit" value="Register">
