<h1>Upcoming Events</h1>


<h2>You're a dog</h2>
<h3>Location: Dog Park near Hollywood - TBA</h3>
<h3>Date: 1/1/2050</h3>
<p>Description: Just like it says, we'll pretend we are dogs and go from there. You must also bark, no talking!! Wut??!!</p>
<h4>Price: $5000</h4>
<input type="submit" value="Register">

<br></br>

<h2>Spin, Spin, Spin</h2>
<h3>Location: Local Park near Hollywood - TBA</h3>
<h3>Date: 3/30/2020</h3>
<p>Description: We will practice and discuss the various ways of spinning. From childhold spinning till your dizzy to playground rides that spin.</p>
<h4>Price: $2000?</h4>
<input type="submit" value="Register">
