<h1>Teachers</h1>

<div class="teachers">
  <h2>Joseph Jimenez</h2>
  <section class="teacher-info">
    <h3>Self proclaimed fitness master</h3>

    <br></br>

    <h3>Los Angeles</h3>

    <br></br>

    <p>
      I sailed the seven seas with Bearmel and we wondered for ages through the deepest darkes bowels of the world's armpit.
      I come to you to share these lessons
    </p>
  </section>

  <h2>Nadia Haddad MD</h2>
  <section class="teacher-info">
    <h3>Doctor, acupuncturist, writer of "Chezerae Borjia: my butt says so!", and band leader of infamous Sasquatch.</h3>

    <br></br>

    <h3>Los Angeles</h3>

    <br></br>

    <p>
      Nadia comes from a rich background of white fluffy pirates intent on capturing the munchiest
      of all munchers so as to help people with the fluff/poonate deficiency.
    </p>
  </section>
</div>
