<h1>Teachers</h1>

<div class="teachers">
  <h2>Joseph Jimenez</h2>
  <div class="teacher-info">
    <h3>Self proclaimed fitness master</h3>
    <h3>Los Angeles</h3>
    <p>I sailed the seven seas with Bearmel and we wondered for ages through
      the deepest darkes bowels of the world's armpit. I come to you to share these lessons</p>
  </div>

  <h2>Nadia Haddad MD</h2>
  <div class="teacher-info">
    <h3>Doctor, acupuncturist, writer of "Chezerae Borjia: my butt says so!", and band leader
      of infamous Sasquatch.</h3>
    <h3>Los Angeles</h3>
    <p>Nadia comes from a rich background of white fluffy pirates intent on capturing the munchiest
      of all munchers so as to help people with the fluff/poonate deficiency.</p>
  </div>
</div>
