<h1>Create a Post!</h1>

<% if @fail %>
  <p style="color:red;">*<%= @fail %></p>
<% end %>

<form action="/posts" method="POST">

  <label>Express Yourself!</label>
  <input type="text" name="content">

  <br></br>

  <input type="submit" value="Create">
</form>
