<h1>Create a Post!</h1>

<% if flash.has?(:message) %>
  <p style="color:red;">*<%= flash[:message] %></p>
<% end %>

<form action="/posts" method="POST">

  <label>Express Yourself!</label>
  <input type="text" name="content">

  <br></br>

  <input type="submit" value="Create">
</form>
