<div class="image-wrap">
  <a href="/about"><img src="images/logo.jpg" alt="Monks And Ninjas logo">
    <div class="overlay">
      <div class="text">Welcome, come on in!</div>
    </div>
  </a>
</div>
