!doctype html>
<html>
  <head>
    <title>Monks And Ninjas</title>
  </head>
  <body>

    <h1>Monks And Ninjas</h1>

    <a href="/about">About</a><br>
    <a href="/teachers">Teachers</a><br>
    <a href="/contact">Contact</a><br>
    <a href="/events">Classes and Retreats</a><br>
    <a href="/signup">Sign Up</a><br>
    <a href="/login">Log In</a>

    <br></br>

    <div class="container">

    <%= yield %>

    </div>

  </body>
</html>
