<!doctype html>
<html>
  <head>
    <title>Monks And Ninjas</title>
  </head>
  <body>

    <h1>Monks And Ninjas</h1>

    <a href="/about">About</a><br>
    <a href="/teachers">Teachers</a><br>
    <a href="/contact">Contact</a><br>
    <a href="/events">Classes and Retreats</a><br>

    <% if Helpers.is_logged_in?(session) %>
      <a href="/move">Move</a><br>
      <a href="/users/<%= Helpers.current_user(session).slug %>">Account</a><br>
      <a href="/logout">Logout <%= Helpers.current_user(session).username %></a>
    <% else %>
      <a href="/signup">Sign Up</a><br>
      <a href="/login">Log In</a>
    <% end %>

    <br></br>

    <div class="container">

    <%= yield %>

    </div>

  </body>
</html>
