<!doctype html>
<html>
  <head>
    <title>Monks And Ninjas</title>
    <style>
      /*/////// Header ////////*/
      div:first-child {display: block; position: absolute; width: 100%; text-align: center;}
      div.container {margin-left: 40px; margin-right: 40px;}
      div.header a {display: inline-block; text-indent: 40px; color: black; text-decoration: none;}
      /*/////// Nav Bar ///////*/
      nav a:visited {color: grey;}
      nav a:hover {color: blue;}
      /*/////// All Links ////*/
      a {text-decoration: none;}
      /*/////// Image ////////*/
      img {display: block; margin-left: auto; margin-right: auto; opacity: 0.25;}
      .overlay {display: block; margin-right: auto; margin-left: auto; height: 50%; width: 50%; opacity: 0; transition: .5s ease;}
      .image-wrap:hover .overlay {opacity: 1;}
      .text {color: white; font-size: 40px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;}
      /*/////// Teachers /////*/
      div.teachers {text-indent: 40px;}
      div.teacher-info {text-indent: 80px;}
    </style>

  </head>
  <body>

    <div class="header">
      <nav>
        <a href="/about">About</a>
        <a href="/teachers">Teachers</a>
        <a href="/contact">Contact</a>
        <a href="/events">Classes and Retreats</a>
      <% if Helpers.is_logged_in?(session) %>
        <a href="/move">Move</a>
        <a href="/users/<%= Helpers.current_user(session).slug %>">Account</a>
        <a href="/logout">Logout <%= Helpers.current_user(session).username %></a>
      <% else %>
        <a href="/signup">Sign Up</a>
        <a href="/login">Log In</a>
      <% end %>
      </nav>

      <h1><a href="/">Monks And Ninjas</a></h1>
    </div>

    <br></br>
    <br></br>
    <br></br>
    <br></br>

    <div class="container">
    <%= yield %>
    </div>

  </body>
</html>
